<h1>Street address to coordinates calculation</h1>

<form action="/street_to_coords/result">
  <div>
    <label for="address">
      Street Address 
    </label>
    <input type="text" placeholder="Enter the address" name="user_street_address" id="the_address">
  </div>

  <div>
    <button>Lookup Coordinates!</button>
  </div>

</form>
